
.hand2 {
    position: relative;
    height: 700px;
    width: 1330px;
    left: 0px;
}

.TDWP {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -4px;
    top: -8px;
}

.D {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -4px;
    top: -8px;
}

.TBOBS {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -4px;
    top: -8px;
}

.TBAM {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -5px;
    top: -8px;
}

.GBTB {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -5px;
    top: -8px;
}

.TSN {
    position: relative;
    height: 700px;
    width: 1350px;
    left: -5px;
    top: -8px;
}